.ant-card-cover{
    background-color: #FFF;
}


.main-title,.main-header{
  background-image: url(../../assets/image/11.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.daohanglan{
   background-image: url(../../assets/image/11.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.buding{
    margin-right: 50px;
    background-image: url(../../assets/image/11.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}