        /* 初始化阶段 */
        *{
            padding: 0;
            margin: 0;
        }
        /* 去掉ul的点 */
        ul{
            list-style: none;
        }
        /* 去掉链接的下划线 */
        a{
            text-decoration: none;
        }
        /* 初始化结束 */
        /* 拿来设置一个可视化透视效果 */
        .div0{
            width: 500px;
            height: 500px;
            border: 1px solid red;
            margin: 200px auto;
            perspective: 3000px;
        }
        /* 做动画主盒子 */
        .div1{
            width: 100%;
            height: 100%;
            background-color: skyblue;
            border-radius: 50px;
            transform-style: preserve-3d;/* 继续父盒子的3d的效果，即相对于父盒子上为3d效果 */
            position: relative;
            animation: tran 10s linear infinite;
        }
        .div_zm,
        .div_t,
        .div_b,
        .div_z,
        .div_y,
        .div_h{
            border: 3px solid black;
            border-radius: 50px;
            color: red;
            font-size: 100px;
            text-align: center;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        .div_zm{
            background: url(../images/卡尔1.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .div_t{
            background: url(../images/卡尔2.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
            transform-origin: 0% 0%;
            transform: rotateX(90deg);
        }
        .div_b{
            background: url(../images/雷娜1.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
            transform-origin: 0% 100%;
            transform: rotateX(-90deg);
        }
        .div_z{
            background: url(../images/雷娜2.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
            transform-origin: 0% 0%;
            transform: rotateY(-90deg);
        }
        .div_y{
            background: url(../images/雷娜3.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
            transform-origin: 100% 0%;
            transform: rotateY(90deg);
        }
        .div_h{
            background: url(../images/彦3.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
            transform: translateZ(500px);
        }
        @keyframes tran{
            0%{transform: rotateX(0deg);}
            100%{transform: rotateX(270deg);}
        }
        .div1:hover{
            animation-play-state: paused;
        }
