        /* 初始化阶段 */
        *{
            padding: 0;
            margin: 0;
        }
        /* 去掉ul的点 */
        ul{
            list-style: none;
        }
        /* 去掉链接的下划线 */
        a{
            text-decoration: none;
        }
        body{
            overflow: hidden;
            // background-color: black;
             // background: url(../images/音频图片.png)no-repeat;
             // background-size: cover;
        }

       #magazine{
                width: 1000px;
                 height: 600px;
                 left: 300px;
                 margin-top: 200px;
                 overflow : hidden;
        }
        #magazine .turn-page{
            background-color: white;
         }
        #magazine span{
                display: block;
                width: 100%;
                height: 100%;
                background-color: #c8e4f8;
                background-size: cover;
                background-position: center;
        }
         #magazine  img{
             width: 90%;
             height: 90%;
             padding: 20px;
             margin-top: 30px;
             margin-left: 30px;
             box-sizing: border-box;
             font-size: 20px;
             text-align: left;/* 向左对齐 */
             text-indent: 40px;/* 因为一个字的大小为20ox，所以缩进40px就会缩进2个字 */
             background-color: white;
             color: black;
             resize:none;/* 禁止拖动该多行文本区域 */
         }
         /* 书的名称，即首页的书名样式 */
        #magazine h2{
            display: block;
            width: 100%;
            height: 100%;
            padding-top: 50%;
            padding-left: 200px;
            background-color: #2397e2;/*c8e4f8   2397e2*/
        }


         /* header部分 */
        /* 导航栏，即上面的四大名著 */
        header{
            position: fixed;
            top: 0px;
            left: 1000px;
            width: 500px;
            height: 100px;
            /* background: black; */
        }
        header ul{
            margin-right: 100px;
             margin-top: 30px;
        }
        header ul li{
            width: 40px;
            height: 120px;
            background: url(../images/墨迹li.png)no-repeat;
            float: right;
            border-radius: 10px;
            margin-right: 20px;
            cursor: pointer;/* 鼠标变成小手 */
            font-size: 20px;
           font-family: '楷体';
           font-weight: bolder;
           text-align: center;
           color: white;
           padding-top: 20px;
        }
        header li:hover{
            font-size: 25px;
        }
        header a{
            font-family: '楷体';
           color: white;
        }
       header .shouye{
            display: block;
            line-height: 40px;
            cursor: pointer;/* 鼠标变成小手 */
            font-size: 30px;
        }
        header .shouye:hover{
            font-weight: bolder;
            font-size: 35px;
        }



        /* 背景特效 */
        .clound{
            position: absolute;
            top: 0px;
            left: 0;
            z-index: 1;
            width: 600px;
            height: 250px;
             background: url(../images/绿草的云.png);
             /* background-color: black; */
            -webkit-background-size: cover;
            background-size: cover;
            animation: moving  100s linear infinite;
        }
        @keyframes moving{
            0%{transform: translateX(0);}
            100%{transform: translateX(100%);}
        }
        .sun{
            position: absolute;
            top: 0px;
            left: 200px;
            width: 175px;
            height: 118px;
             background: url(../images/太阳.png);
            /* background-color: pink; */
            -webkit-background-size: cover;
            background-size: cover;

        }