        /* 初始化阶段 */
        *{
            padding: 0;
            margin: 0;
        }
        /* 去掉ul的点 */
        ul{
            list-style: none;
        }
        /* 去掉链接的下划线 */
        a{
            text-decoration: none;
        }
        body{
            margin: 0px auto;
        }

        .content{
            position: relative;
            overflow: hidden;
        }
        /* 两个棒的样式 */
        div{
            position: absolute;
            height: 300px;
            margin-left: 500px;
        }
        .div1,
        .div2{
            z-index: 3;
            width: 40px;
            background: url(../images/卷轴棒.png)no-repeat;
            background-size: cover;
        }
        /* //使他们不要重合在一起 */
        .div2{
            left: 40px;
        }
       /*  展开时候的内部画卷部分,因为两边宽展,所以设置两个div来,一个向左展示,一个向右展示 */
        .div3,
        .div4{
            top: 10px;
            height: 280px;
            width: 20px;
            background: url(../images/卷轴心右.png)no-repeat;
            background-size: cover;
        }
        .div3{
            background: url(../images/卷轴心左.png)no-repeat;
            background-size: cover;
            left: 20px;
        }
        /* //主页面的样式，即装链接淡出来的盒子 */
        .main{
            z-index: 5;
            position: absolute;
            left: -760px;
            display: none;
            width: 1560px;
            height: 280px;
            background: url(../images/书的背景.jpg);
            overflow: hidden;
        }
        .main ul{
            position: absolute;
            top: 20px;
            width: 150%;
            height: 100%;
        }
        .main li{
            overflow: hidden;
        }
        .main li{
            position: absolute;
            width: 380px;
            height: 260px;
            border-right: 5px solid black;
        }
        .main a{
            position: absolute;
            top: 30px;
            left: 30px;
            display: block;
            width: 200px;
            height: 200px;
            color: black;
            padding-left: 100px;
            padding-top: 100px;
            font-size: 30px;
           font-family: '楷体';
        }
        .main a:hover{
            color: red;
            font-size: 35px;
        }
       /*  排列li为一行 */
        .main li:first-child{
            left: 0;
            border-left: 3px solid black;
        }
        .main li:nth-child(2){
             left: 400px;
        }
        .main li:nth-child(3){
            left: 800px;
        }
        .main li:nth-child(4){
            left: 1200px;
        }
        .main li:nth-child(5){
            left: 1600px;
        }
        .main li:last-child{
             left: 2000px;

        }
       /*  鼠标悬浮的下潜效果
       .lihover{
           top: 5px;
       }
        */