        /* 初始化阶段 */
        *{
            padding: 0;
            margin: 0;
        }
        /* 去掉ul的点 */
        ul{
            list-style: none;
        }
        /* 去掉链接的下划线 */
        a{
            text-decoration: none;
        }
        body{
            margin: 0px auto;
        }
        .content{
            position: relative;
        }
        div{
            position: absolute;
            height: 300px;
            margin-left: 500px;
        }
        .div1,
        .div2{
            z-index: 3;
            width: 40px;
            background: url(../images/卷轴棒.png)no-repeat;
            background-size: cover;
        }
        .div2{
            left: 40px;
        }

       /*  div3表示卷轴右边，div4为左边的卷轴部分 */
        .div3,
        .div4{
            top: 10px;
            height: 280px;
            width: 20px;
             background: url(../images/卷轴心右.png)no-repeat;
            background-size: cover;
        }
        .div3{
             background: url(../images/卷轴心左.png)no-repeat;
            background-size: cover;
            left: 20px;
        }
        .main{
            z-index: 5;
            position: absolute;
            right: -900px;
            top: 10px;
            display: none;
            width: 760px;
            height: 280px;
            background: url(../images/卷轴心1.png)no-repeat;

        }
        .main p{
            padding-left: 30px;
            font-size: 20px;
            color: #000;
        }
        .main h2{
            margin-left: 30px;
            margin-top: 120px;
            font-size: 20px;
            color: #000;
        }
        .main a{
            color: black;
            font-size: 30px;
            font-weight: bolder;
            padding-right: 50px;
            padding-top: 10px;
            float: right;
        }
        .main a:hover{
            color: red;

        }
