/* 初始化阶段 */
*{
    padding: 0;
    margin: 0;
}
/* 去掉ul的点 */
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
/* 去掉链接的下划线 */
a{
    text-decoration: none;
}
/* 为可视的范围 */
.center{
    position: relative;
    top: 200px;
    left: 400px;
    width: 180px;
    height: 600px;
    background-color: pink;
    overflow: hidden;/* 隐藏滚动条 */
}
/* ul的宽度要适当的大，不然li会掉下去和会显示center的背景颜色，影响美观 */
.center ul{
    width: 200px;
    height: 100%;
    overflow: auto;/* 其实这样会显示滚动条，但结合父盒子的overflow就会把滚动条挡住 */
    overflow-x: hidden;
}
 /*  每个li装一个图片 */
.center li{
    width: 200px;
    height: 100px;
    color: white;
    box-sizing: border-box;
}
/* 为什么每一个的size和position不加在共同样式上的原因是因为要先设置背景才能设置这两个属性，不然就会覆盖这两个属性，从而不起作用。 */
.center li:nth-child(1){
    background: url("../images/彦7.jpg")no-repeat;
    background-position: center center;
    background-size: cover;/* 让图片铺满整个div */
}
.center li:nth-child(2){
    background: url("../images/雷娜1.jpg")no-repeat;
    background-position: center center;
     background-size: cover;
}
.center li:nth-child(3){
    background: url("../images/雷娜3.jpg")no-repeat;
    background-position: center center;
     background-size: cover;
}
.center li:nth-child(4){
    background: url("../images/彦1.jpg")no-repeat;
    background-position: center center;
     background-size: cover;
}
.center li:nth-child(5){
    background: url("../images/彦2.jpg")no-repeat;
    background-position: center center;
     background-size: cover;
}
.center li:nth-child(6){
    background: url("../images/彦3.jpg")no-repeat;
    background-position: center center;
     background-size: cover;
}
.center li:nth-child(7){
    background: url("../images/彦4.jpg")no-repeat;
    background-position: center center;
     background-size: cover;
}
.center li:nth-child(8){
    background: url("../images/彦5.jpg")no-repeat;
    background-position: center center;
     background-size: cover;
}
.center li:nth-child(9){
    background: url("../images/彦6.jpg")no-repeat;
    background-position: center center;
     background-size: cover;
}

.center li span{
            display: none;
        }

.big_1,
.big_2{
    position: absolute;
    top: 250px;
    left: 700px;
    width: 650px;
    height: 500px;
     background: url("../images/一堆图片/图片1.jpg")no-repeat;
   background-position: center center;
    background-size: cover;
    color: black;
    font-size: 20px;
    padding: 20px;
}
/* 切换时候的特效 */
.mask1{
    -webkit-mask-image:url("../images/nature-sprite.png");
    -webkit-mask-size:2300% 100%;
    mask-image:url("../images/nature-sprite.png");
    mask-size:2300% 100%;
    animation: danchu 2s steps(22);
    -webkit-animation :  danchu 2s steps(22);
    -moz-animation :     danchu 2s steps(22);
    -ms-animation :      danchu 2s steps(22);
}
.mask2{
    -webkit-mask-image:url("../images/nature-sprite-2.png");
    -webkit-mask-size:7100% 100%;
    mask-image:url("../images/nature-sprite-2.png");
    mask-size:7100% 100%;
    animation: danchu 2s steps(70);
    -webkit-animation :  danchu 2s steps(70);
    -moz-animation :     danchu 2s steps(70);
    -ms-animation :      danchu 2s steps(70);
}
.mask3{
    -webkit-mask-image:url("../images/urban-sprite-2.png");
    -webkit-mask-size:7400% 100%;
    mask-image:url("../images/urban-sprite-2.png");
    mask-size:7400% 100%;
    animation: danchu 2s steps(73);
    -webkit-animation :  danchu 2s steps(73);
    -moz-animation :     danchu 2s steps(73);
    -ms-animation :      danchu 2s steps(73);
}
.mask4{
    -webkit-mask-image:url("../images/urban-sprite.png");
    -webkit-mask-size:3000% 100%;
    mask-image:url("../images/urban-sprite.png");
    mask-size:3000% 100%;
    animation: danchu 2s steps(29);
    -webkit-animation :  danchu 2s steps(29);
    -moz-animation :     danchu 2s steps(29);
    -ms-animation :      danchu 2s steps(29);
}
.mask5{
    -webkit-mask-image:url("../images/building-sprite-2.png");
    -webkit-mask-size:8400% 100%;
    mask-image:url("../images/building-sprite-2.png");
    mask-size:8400% 100%;
    animation: danchu 2s steps(83);
    -webkit-animation :  danchu 2s steps(83);
    -moz-animation :     danchu 2s steps(83);
    -ms-animation :      danchu 2s steps(83);
}
.mask6{
    -webkit-mask-image:url("../images/building-sprite.png");
    -webkit-mask-size:7500% 100%;
    mask-image:url("../images/building-sprite.png");
    mask-size:7500% 100%;
    animation: danchu 2s steps(74);
    -webkit-animation :  danchu 2s steps(74);
    -moz-animation :     danchu 2s steps(74);
    -ms-animation :      danchu 2s steps(74);
}
@keyframes danchu{
        0% {-webkit-mask-position:0% 0px;mask-position:0% 0px;}
        100% {-webkit-mask-position:100% 0px;mask-position:100% 0px;}
}


/* 特效按钮样式 */
.texiao{
    margin-top: 250px;
    margin-left: 400px;
    width: 50px;
    height: 240px;
    background-color: pink;
}
.texiao li{
    width: 100%;
    height: 40px;
    box-sizing: border-box;
}
.texiao button{
    width: 40px;
    height: 30px;
    background-color: black;
    color: white;
}
.texiao li:nth-child(1){
    -webkit-mask-image:url("../images/nature-sprite.png");
    mask-image:url("../images/nature-sprite.png");
    -webkit-mask-size:2300% 100%;
    mask-size:2300% 100%;
}
.texiao li:nth-child(2){
    -webkit-mask-image:url("../images/nature-sprite-2.png");
    mask-image:url("../images/nature-sprite-2.png");
    -webkit-mask-size:7100% 100%;
    mask-size:7100% 100%;

}
.texiao li:nth-child(3){
    -webkit-mask-image:url("../images/urban-sprite-2.png");
    mask-image:url("../images/urban-sprite-2.png");
    -webkit-mask-size:7400% 100%;
    mask-size:7400% 100%;

}
.texiao li:nth-child(4){
    -webkit-mask-image:url("../images/urban-sprite.png");
    mask-image:url("../images/urban-sprite.png");
    -webkit-mask-size:3000% 100%;
    mask-size:3000% 100%;

}
.texiao li:nth-child(5){
    -webkit-mask-image:url("../images/building-sprite-2.png");
    mask-image:url("../images/building-sprite-2.png");
    -webkit-mask-size:8400% 100%;
    mask-size:8400% 100%;

}
.texiao li:nth-child(6){
    -webkit-mask-image:url("../images/building-sprite.png");
    mask-image:url("../images/building-sprite.png");
    -webkit-mask-size:7500% 100%;
    mask-size:7500% 100%;

}
.texiao li:nth-child(1):hover{
    animation: danchu 2s steps(22);
    -webkit-animation : danchu 2s steps(22);
    -moz-animation :    danchu 2s steps(22);
    -ms-animation :     danchu 2s steps(22);
}
}
.texiao li:nth-child(2):hover{
    animation: danchu 2s steps(70);
     -webkit-animation : danchu 2s steps(70);
    -moz-animation :     danchu 2s steps(70);
    -ms-animation :      danchu 2s steps(70);
}
.texiao li:nth-child(3):hover{
    animation: danchu 2s steps(73);
     -webkit-animation : danchu 2s steps(73);
    -moz-animation :    danchu 2s  steps(73);
    -ms-animation :     danchu 2s  steps(73);
}
.texiao li:nth-child(4):hover{
    animation: danchu 2s steps(29);
     -webkit-animation : danchu 2s steps(22);
    -moz-animation :    danchu 2s steps(22);
    -ms-animation :     danchu 2s steps(22);
}
.texiao li:nth-child(5):hover{
    animation: danchu 2s steps(83);
     -webkit-animation : danchu 2s steps(83);
    -moz-animation :     danchu 2s steps(83);
    -ms-animation :      danchu 2s steps(83);
}
.texiao li:nth-child(6):hover{
    animation: danchu 2s steps(74);
     -webkit-animation : danchu 2s steps(74);
    -moz-animation :     danchu 2s steps(74);
    -ms-animation :      danchu 2s steps(74);
}
.border1{
    border: 3px solid black;
}


