/* 初始化阶段 */
*{
    padding: 0;
    margin: 0;
}
/* 去掉ul的点 */
ul{
    list-style: none;
}
/* 去掉链接的下划线 */
a{
    text-decoration: none;
}
body{
    width: 100%;
    height: 1000px;
}
/* header部分 */
header{
    width: 100%;
    height: 50px;
    background-color: pink;
    display: fixed;
    position: relative;
}
header div{
    position: absolute;
    width: 50px;
    line-height: 50px;
    padding-left: 10px;
    color: black ;
    font-size: 25px;
    box-sizing: border-box;/* 防止盒子因为border和padding而变形 */
    border-radius: 20px;/* 使盒子的边角更圆滑 */
    letter-spacing: 20px;
    margin-top: 10px;
    border: 2px solid red;
}
header div a{
    color: black ;
    font-size: 25px;
}
header div:nth-child(1){
    left: 5%;
}
header div:nth-child(2){
    left: 95%;
}
header div:nth-child(3){
    left: 90%;
}
header div:nth-child(4){
    left: 85%;
}
header div:nth-child(5){
    left: 80%;
}
header div:nth-child(6){
    left: 75%;
}

header div:nth-child(1):hover,
header div:nth-child(2):hover,
header div:nth-child(3):hover,
header div:nth-child(4):hover,
header div:nth-child(5):hover,
header div:nth-child(6):hover{
    font-weight: bolder;
    top: 10px;
}
/* header结束 */

/* center部分 */
.center{
    border-top: 10px solid red;
    border-radius: 40px;
    overflow: hidden;
    height: 1500px;
    width: 800px;
    background-color: skyblue;
    margin: 50px auto;
}


/* footer部分 */
footer{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: hotpink;
    display: fixed;
    padding-top: 50px;
}
footer div{
    position: absolute;
    left: 560px;
    width: 800px;
    height: 250px;
    border: 2px solid red;
    background-color: white;
    border-radius: 30px;
}
/* 设置li的大小和浮动起来 */
footer li{
    width: 80px;
    line-height: 40px;
    border-right: 2px dotted black;
    font-size: 30px;
    color: black;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
}
/* 点击footer的链接悬浮效果 */
footer li:hover a{
    font-weight  bolder;
    color: red;
}
/* 清除最后一个和右边上的竖线 */
footer li:nth-child(7),
footer li:nth-child(14),
footer li:last-child{
    border-right: 0;
}
/* 左下角的介绍 */
footer p{
    display: line-block;
    position: absolute;
    bottom: 0;
    left: 50px;
    color: black;
    font-size: 18px;
}
/* 右下角的介绍 */
footer span{
    position: absolute;
    bottom: 0;
    right: 50px;
    display: line-block;
    font-size: 20px;
}
/* footer结束 */

