        /* 初始化阶段 */
        *{
            padding: 0;
            margin: 0;
        }
        /* 去掉ul的点 */
        ul{
            list-style: none;
        }
        /* 去掉链接的下划线 */
        a{
            text-decoration: none;
        }
        body{
            background: url(../images/雷娜1.jpg)no-repeat;
            background-size: cover;
        }
        /* 主盒子 */
        .main{
            position: relative;
            width: 800px;
            height: 700px;
            /* background-color: pink; */
            margin: 100px auto;
            overflow: hidden;
        }
        /* ul铺满整个主盒子 */
        .main ul{
            height: 100%;
            width: 100%;
        }
        /* 每个li的样式 */
        .main .gezi{
            position: relative;/* 因为后面需要一li放tu和miaoshu这两个盒子，并且要他们重叠 */
            width: 20%;
            height: 100%;
            border-radius: 20px;/* 让li展开时候防止其他的li会挤压，导致当前的li下滑 */
            /* background-color: skyblue; */
            overflow: hidden;/* 超出li大小的边角隐藏 */
            float: left;
            transition: all 0.5s;/* 展开时候的动画 */
            cursor: pointer;
        }
        .gezi .tu{
            position: absolute;/* 与miaoshu这个盒子重叠实现鼠标悬浮效果 */
            /* top: -200%; *//* 让该盒子在ul上方，为了一会可以直接从上面滑下来效果 */
            width: 100%;
            height: 100%;
            /* transition: all 2s; *//* 当加载完成改变为其他背景 */
        }
        .main li:nth-child(1){
            background: url(../images/四大名著相册/四大名著/四大名著8.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .main li:nth-child(2){
            background: url(../images/四大名著相册/四大名著/四大名著2.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .main li:nth-child(3){
            background: url(../images/四大名著相册/四大名著/四大名著7.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .main li:nth-child(4){
            background: url(../images/四大名著相册/四大名著/四大名著5.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
        }
        .main li:nth-child(5){
            background: url(../images/四大名著相册/四大名著/四大名著6.jpg)no-repeat;
            background-position: center center;
            background-size: cover;
        }
        /* 每个li下面的盒子样式 */
        .gezi .miaoshu{
            position: absolute;/* 与miaoshu这个盒子重叠实现鼠标悬浮效果 */
            width: 100%;
            height: 100%;
            opacity: 0.5;
            background-color: #000;
            text-align: center;/* 文字居中显示 */
            color: white;
            font-size: 20px;/* 文字大小 */
            transition: all 1s;/* 透明度有0.5变为0的动画渐变 */
        }
        /* 鼠标移动到每个li上时候背景发亮效果 */
         .gezi:hover .miaoshu{
            opacity: 0;
        }
        /* js触发tu盒子的样式 */
        .tu1{
            transform: translateY(100%);
        }
        /* 点击每个li触发的展开样式 */
        .main1 .gezi.active{
            width: 100%;
        }
        /*没有被点击的li进行收缩*/
        .main1 .gezi:not(.active){
            width: 0%;
            height: 0%;
        }


       /*  关闭的小叉叉样式 */
        .cha{
            position: absolute;
            top: 5%;
            left: 96%;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }
       /* 叉叉为两个伪类通过旋转获得 */
        .cha::before,
        .cha::after{
            content: "";
            position: absolute;
            top: 50%;
            left: 8%;
            width: 30px;
            height: 5px;
            background-color: white;
        }
        .cha::before{
            transform: rotate(45deg);
        }
        .cha::after{
            transform: rotate(-45deg);
        }


         /* 背景特效 */
        .star{
            position: absolute;
            top: -250px;
            z-index: 1;
            width: 3000px;
            height: 1080px;
            background: url(../images/阴云.png);
            /* background-color: black; */
            /* -webkit-background-size: cover; */
            /* background-size: cover; */
            animation: moving  100s linear infinite;
        }
        .yin{
            position: absolute;
            top: -250px;
            width: 3000px;
            height: 1080px;
            background: url(../images/星星.png);
            /* -webkit-background-size: cover;
            background-size: cover; */
            /* background-color: pink; */
            animation: moving  100s linear infinite;

        }
        @keyframes moving{
            0%{background-position: 0% 0%;}
            20%{{background-position: 30% 10%;}}
            50%{background-position: 50% 30%;}
            80%{background-position: 80% 10%;}
            90%{background-position: 40% -30%;}
            100%{background-position: 0% 20%;}
        }


        /*  加背景特效后确保不被遮住 */
        .main,
        .fanhui{
            z-index: 2;
        }


