          /* 鼠标显示的盒子 因为为固定才会不受影响，然后跟随鼠标获取topleft
    即可*/
        .sbyd{
            z-index: 1000;
            position: fixed;
            color: red;
            width: 80px;
            height: 60px;
            background: url('../images/点墨3.png') no-repeat;
            background-size: cover;
            animation: moving 0.2s;
        }
        /* 盒子动画 */
        @keyframes moving{
            0%{opacity: 1;}
            100%{opacity: 0;}
        }