        /* 初始化阶段 */
        *{
            padding: 0;
            margin: 0;
        }
        /* 去掉ul的点 */
        ul{
            list-style: none;
        }
        /* 去掉链接的下划线 */
        a{
            text-decoration: none;
        }
       /*  图片放置在窗口上的位置 */
        .div1{
            width: 300px;
            height: 300px;
            margin-top: 200px;
            margin-left: 500px;
        }

        .div1 ul{
            position: relative;
            width: 200px;
            height: 180px;
        }

        .div1 li{
            position: absolute;
        }



         /* 点击图片显示的盒子样式 */
        .hidden{
            position: relative;
            top: 200px;
            left: 500px;
            width: 900px;
            height: 600px;
            display: none;
            background-size: cover;
        }
        /* 前进按钮和后退按钮的样式 */
        .before,
        .after{
            position: absolute;
            width: 20px;
            height: 50px;
            cursor: pointer;
        }
        .before{
            background: url("../images/后退按钮.png");
            left: -30px;
            top: 50%;
            transform: translateY(-50%);/* 移动自身的一半高度使居中 */
        }
        .after{
            background: url("../images/前进按钮.png");
            right: -30px;
            top: 50%;
            transform: translateY(-50%);
        }



         /* header部分 */
        /* 导航栏，即上面的四大名著 */
        header{
            position: fixed;
            top: 0px;
            left: 1000px;
            width: 500px;
            height: 100px;
            /* background: black; */
        }
        header ul{
            margin-right: 100px;
             margin-top: 30px;
        }
        header ul li{
            width: 40px;
            height: 120px;
            background: url(../images/墨迹li.png)no-repeat;
            float: right;
            border-radius: 10px;
            margin-right: 20px;
            cursor: pointer;/* 鼠标变成小手 */
            font-size: 20px;
           font-family: '楷体';
           font-weight: bolder;
           text-align: center;
           color: white;
           padding-top: 20px;
        }
        header li:hover{
            font-size: 25px;
        }
        header a{
            font-family: '楷体';
           color: white;
        }
       header .shouye{
            display: block;
            line-height: 40px;
            cursor: pointer;/* 鼠标变成小手 */
            font-size: 30px;
        }
        header .shouye:hover{
            font-weight: bolder;
            font-size: 35px;
        }



/* 背景特效 */
        .clound{
            position: absolute;
            top: 0px;
            left: 0;
            z-index: 1;
            width: 600px;
            height: 250px;
             background: url(../images/绿草的云.png);
             /* background-color: black; */
            -webkit-background-size: cover;
            background-size: cover;
            animation: moving  100s linear infinite;
        }
        @keyframes moving{
            0%{transform: translateX(0);}
            100%{transform: translateX(100%);}
        }
        .sun{
            position: absolute;
            top: 0px;
            left: 200px;
            width: 175px;
            height: 118px;
             background: url(../images/太阳.png);
            /* background-color: pink; */
            -webkit-background-size: cover;
            background-size: cover;

        }


