       /* 初始化阶段 */
        *{
            padding: 0;
            margin: 0;
        }
        /* 去掉ul的点 */
        ul{
            list-style: none;
        }
        /* 去掉链接的下划线 */
        a{
            text-decoration: none;
        }
        body{
            perspective: 1500px;
        }

      /*   旋转盒子的所有样式 */
        .center{
            width: 300px;
            height: 200px;
            margin: 250px auto;
            background-size: cover;/* 全部图片缩小，不加这句话会只显示一个左上角 */
            position: relative;
            transform-style: preserve-3d;
        }

        .div1{
            /* position: relative; */
            width: 100px;
            height: 80px;
            position: absolute;
          /*  -webkit-box-reflect: below -50px linear-gradient(180deg,rgba(0,0,0,0),rgba(0,0,0,.5));问题解决1：找到改变阴影的大小代码，解决2：拉大每个圈的位移y拉为80 */
             cursor: pointer;
        }
        .center div:nth-child(1){
            transform: rotateY(-0deg) translateZ(300px);
            background: url(../images/一堆图片/图片1.jpg)no-repeat;
            background-size: cover;

        }
        .center div:nth-child(2){
            transform: rotateY(-25deg) translateZ(300px);
            background: url(../images/一堆图片/图片2.jpg)no-repeat;
            background-size: cover;
        }
         .center div:nth-child(3){
            transform: rotateY(25deg) translateZ(300px);
            background: url(../images/一堆图片/图片8.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(4){
            transform: rotateY(50deg) translateZ(300px);
            background: url(../images/一堆图片/图片4.jpg)no-repeat;
            background-size: cover;
        }
         .center div:nth-child(5){
            transform: rotateY(-50deg) translateZ(300px);
            background: url(../images/一堆图片/图片5.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(6){
            transform: rotateY(-75deg) translateZ(300px);
            background: url(../images/一堆图片/图片6.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(7){
            transform: rotateY(75deg) translateZ(300px);
            background: url(../images/一堆图片/图片7.jpg)no-repeat;
            background-size: cover;
        }

        .center div:nth-child(8){
            transform: rotateY(100deg) translateZ(300px);
            background: url(../images/一堆图片/图片8.jpg)no-repeat;
            background-size: cover;

        }
        .center div:nth-child(9){
            transform: rotateY(-100deg) translateZ(300px);
            background: url(../images/一堆图片/图片9.jpg)no-repeat;
            background-size: cover;
        }
         .center div:nth-child(10){
            transform: rotateY(-125deg) translateZ(300px);
            background: url(../images/一堆图片/图片10.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(11){
            transform: translateY(100px) rotateY(0deg) translateZ(300px);
            background: url(../images/一堆图片/图片11.jpg)no-repeat;
            background-size: cover;
        }
         .center div:nth-child(12){
            transform: translateY(100px) rotateY(25deg) translateZ(300px);
            background: url(../images/一堆图片/图片12.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(13){
            transform: translateY(100px) rotateY(-25deg) translateZ(300px);
            background: url(../images/一堆图片/图片13.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(14){
            transform: translateY(100px) rotateY(50deg) translateZ(300px);
            background: url(../images/一堆图片/图片14.jpg)no-repeat;
            background-size: cover;
        }

        .center div:nth-child(15){
            transform: translateY(100px) rotateY(-50deg) translateZ(300px);
            background: url(../images/一堆图片/图片15.jpg)no-repeat;
            background-size: cover;

        }
        .center div:nth-child(16){
            transform: translateY(100px) rotateY(75deg) translateZ(300px);
            background: url(../images/一堆图片/图片16.jpg)no-repeat;
            background-size: cover;
        }
         .center div:nth-child(17){
            transform: translateY(100px) rotateY(-75deg) translateZ(300px);
            background: url(../images/一堆图片/图片17.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(18){
            transform: translateY(100px) rotateY(100deg) translateZ(300px);
            background: url(../images/一堆图片/图片18.jpg)no-repeat;
            background-size: cover;
        }
         .center div:nth-child(19){
            transform: translateY(100px) rotateY(-100deg) translateZ(300px);
            background: url(../images/一堆图片/图片19.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(20){
            transform: translateY(100px) rotateY(-125deg) translateZ(300px);
            background: url(../images/一堆图片/图片20.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(21){
            transform: translateY(200px) rotateY(0deg) translateZ(300px);
            background: url(../images/一堆图片/图片21.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(22){
            transform: translateY(200px) rotateY(25deg) translateZ(300px);
            background: url(../images/一堆图片/图片22.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(23){
            transform: translateY(200px) rotateY(-25deg) translateZ(300px);
            background: url(../images/一堆图片/图片23.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(24){
            transform: translateY(200px) rotateY(50deg) translateZ(300px);
            background: url(../images/一堆图片/图片24.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(25){
            transform: translateY(200px) rotateY(-50deg) translateZ(300px);
            background: url(../images/一堆图片/图片25.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(26){
            transform: translateY(200px) rotateY(75deg) translateZ(300px);
            background: url(../images/一堆图片/图片26.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(27){
            transform: translateY(200px) rotateY(-75deg) translateZ(300px);
            background: url(../images/一堆图片/图片27.jpg)no-repeat;
            background-size: cover;
        }

        .center div:nth-child(28){
            transform: translateY(200px) rotateY(100deg) translateZ(300px);
            background: url(../images/一堆图片/图片28.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(29){
            transform: translateY(200px) rotateY(-100deg) translateZ(300px);
            background: url(../images/一堆图片/图片29.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(30){
            transform: translateY(200px) rotateY(125deg) translateZ(300px);
            background: url(../images/一堆图片/图片30.jpg)no-repeat;
            background-size: cover;
        }
        .center div:nth-child(31){
            transform: translateY(200px) rotateY(-125deg) translateZ(300px);
            background: url(../images/一堆图片/图片31.jpg)no-repeat;
            background-size: cover;
        }

          .hidden{
            position: relative;
            margin: 80px auto;
            width: 800px;
            height: 600px;
            display: none;
        }
        .hidden .before,
        .hidden .after{
            position: absolute;
            width: 20px;
            height: 50px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .hidden .before{
            background: url("../images/后退按钮.png");
            left: -30px;
        }
        .hidden .after{
            background: url("../images/前进按钮.png");
            right: -30px;
        }

        /* 滚动条的样式和位置 */
        .scroll{
            position: relative;
            top:  50px;
            left: 600px;
           width: 400px;
           height: 30px;
           background-color: skyblue;
           overflow-x: scroll;
           cursor: pointer;
        }
        .scroll ul{
            width: 300%;
            height: 100%;
        }




         /* header部分 */
        /* 导航栏，即上面的四大名著 */
        header{
            position: fixed;
            top: -180px;
            left: 1300px;
            width: 500px;
            height: 100px;
            /* background: black; */
        }
        header ul{
            margin-right: 100px;
             margin-top: 30px;
        }
        header ul li{
            width: 40px;
            height: 120px;
            background: url(../images/墨迹li.png)no-repeat;
            float: right;
            border-radius: 10px;
            margin-right: 20px;
            cursor: pointer;/* 鼠标变成小手 */
            font-size: 20px;
           font-family: '楷体';
           font-weight: bolder;
           text-align: center;
           color: white;
           padding-top: 20px;
        }
        header li:hover{
            font-size: 25px;
        }
        header a{
            font-family: '楷体';
           color: white;
        }
       header .shouye{
            display: block;
            line-height: 40px;
            cursor: pointer;/* 鼠标变成小手 */
            font-size: 30px;
        }
        header .shouye:hover{
            font-weight: bolder;
            font-size: 35px;
        }


        /* 背景特效 */
        .clound{
            position: absolute;
            top: -250px;
            left: 0;
            z-index: 1;
            width: 600px;
            height: 250px;
            background: url(../images/绿草的云.png);
            /* background-color: black; */
            -webkit-background-size: cover;
            background-size: cover;
            animation: moving  100s linear infinite;
        }
        @keyframes moving{
            0%{transform: translateX(0);}
            100%{transform: translateX(100%);}
        }
        .sun{
            position: absolute;
            top: -200px;
            left: 200px;
            width: 175px;
            height: 118px;
            background: url(../images/太阳.png);
            -webkit-background-size: cover;
            background-size: cover;

        }