            /* 初始化阶段 */
        *{
            padding: 0;
            margin: 0;
        }
        /* 去掉ul的点 */
        ul{
            list-style: none;
        }
        /* 去掉链接的下划线 */
        a{
            text-decoration: none;
        }

        .top{
            position: relative;
            top: 100px;
            left: -500px;
            width: 1000px;
            height: 180px;
            /* background: url(../images/动态云1.png)no-repeat; */
            background-size: cover;

        }
       .yun {
            position: absolute;
            z-index: 99;
            width: 100%;
            height: 100%;
            animation: yunmoving 20s linear infinite;
            }
        .yun{
            background: url(../images/动态云1.png)no-repeat;
            background-size: 120% 100%;
        }
        @keyframes yunmoving{
            0%{background-position: 0% 0%;}
           100%{background-position: 100% 0%;}
        }