    .bottom{
           position: fixed;
           z-index: 999;
           top: 100px;
           left: -300px;
            width: 1600px;
            height: 420px;
            /* background-color: black; */
            background: url(../images/阳光云.png);
            /* background: url(images/动态云1.png)no-repeat; */
            background-size: cover;

        }
